<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>推送菜谱设置页面</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--   <link rel="stylesheet" href="//res.layui.com/layui/dist/css/layui.css" media="all">
      <link id="layuicss-skincodecss" rel="stylesheet" href="https://res.layui.com/layui/dist/css/modules/code.css"
            media="all"> -->
</head>
<body>
<form action="/api/addRecommend">
    菜谱名称:<input id="name" name="name" th:value="${name}"/>
    当前页码:<input id="pageNum" name="pageNum" th:value="${pageNum}"/>
    每页记录数:<input id="pageSize" name="pageSize" th:value="${pageSize}"/>
    <input type="submit" value="查询"/>
</form>
<br/>
<a href="/api/selectRecommendList">跳转推荐列表页面</a><br/>
<table border="1" width="90%" bgcolor="#e9faff" cellpadding="2">
    <caption>推送菜谱设置页面</caption>
    <br/><span>请输入密码:<input type="password" value="" id="password"/></span>
    <tr align="center">
        <td>菜谱id</td>
        <td>菜谱名称</td>
        <td>操作</td>
    </tr>
    <tr th:each="emp : ${list.list}">
        <td th:text="${emp.id}"></td>
        <td th:text="${emp.name}"></td>
        <td>
            <input type="button" th:onclick="'javascript:addR(\''+${emp.id}+'\');'" value="新增推荐"/></td>
    </tr>
</table>

</body>
<script src="jquery-3.1.1.js"></script>
<script type="text/javascript">
    function addR(obj, password) {
        var password = $("#password").val();
        if (null == password || '' == password) {
            alert("密码框不能为空");
            return;
        }
        $.ajax({
            type: 'post',
            dataType: 'json',
            url: '/api/updateRecommend?status=1&id=' + obj + '&password=' + password,
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                if (data.status == 10000) {
                    alert("新增推荐成功");
                    location = location;
                } else {
                    alert(data.msg);
                }
            }
        })
    }

</script>
</html>