<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>推送菜谱设置页面</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--   <link rel="stylesheet" href="//res.layui.com/layui/dist/css/layui.css" media="all">
      <link id="layuicss-skincodecss" rel="stylesheet" href="https://res.layui.com/layui/dist/css/modules/code.css"
            media="all"> -->
</head>
<body>
<table border="1" width="90%" bgcolor="#e9faff" cellpadding="2">
    <caption>推送菜谱设置页面</caption>
    <span>请输入密码:<input type="password" value="" id="password"/></span>
    <tr align="center">
        <td>菜谱id</td>
        <td>菜谱名称</td>
        <td>操作</td>
    </tr>
    <tr th:each="emp : ${list.list}">
        <td th:text="${emp.id}"></td>
        <td th:text="${emp.name}"></td>
        <td>
            <input type="button" th:onclick="'javascript:deleteR(\''+${emp.id}+'\');'" value="删除推荐"/></td>
    </tr>
</table>
<a href="/api/addRecommend?pageNum=1&pageSize=20&name=">跳转新增推荐页面</a>
</body>
<script src="/api/jquery-3.1.1.js"></script>
<script type="text/javascript">
    function deleteR(obj, password) {
        var password = $("#password").val();
        if (null == password || '' == password) {
            alert("密码框不能为空");
            return;
        }
        $.ajax({
            type: 'post',
            dataType: 'json',
            url: '/api/updateRecommend?status=0&id=' + obj + '&password=' + password,
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                if (data.status == 10000) {
                    alert("删除推荐成功");
                    location = location;
                } else {
                    alert(data.msg);
                }
            }
        })
    }

</script>
</html>