<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lineying.mapper.CommonMapper">
    <!-- 查询 -->
    <select id="list" parameterType="com.lineying.entity.CommonQueryEntity" resultType="java.util.Map">
        select ${column}
        from ${table}
        where ${where}
        order by ${sortColumn} ${sort}
    </select>
    <insert id="add" parameterType="com.lineying.entity.CommonAddEntity">
        insert into ${table}
                    (${column})
        value (${value})
    </insert>
    <delete id="delete"  parameterType="com.lineying.entity.CommonQueryEntity">
        delete from ${table} where ${where}
    </delete>
    <update id="update" parameterType="com.lineying.entity.CommonUpdateEntity">
        update ${table}
        set ${set}
        where ${where}
    </update>
</mapper>