<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lineying.mapper.FoodNutritionMapper">
    <!-- 新增 -->
    <insert id="addFoodNutrition" parameterType="com.lineying.entity.FoodNutritionInfo">
        insert into food_nutrition_info(id,code,calory,weight,health_light,is_liquid,create_time,
        thumb_image_url,large_image_url,uploader,appraise,protein,fat,
        fiber_dietary,carbohydrate,gi,gl,recipe,recipe_type,comments_ct)
        values(#{id},#{code},#{calory},#{weight},#{health_light},#{is_liquid},now(),
        #{thumb_image_url},#{large_image_url},#{uploader},#{appraise},#{protein},#{fat},
        #{fiber_dietary},#{carbohydrate},#{gi},#{gl},#{recipe},#{recipe_type},#{comments_ct})
    </insert>
    <insert id="addNutritionLights" parameterType="com.lineying.entity.NutritionLightsEntity">
        insert into nutrition_lights(id,calory,protein,carbohydrate,flat,fiber_dietary,
        gi,gl,create_time)
        values(#{id},#{calory},#{protein},#{carbohydrate},#{flat},#{fiber_dietary},
        #{gi},#{gl},now())
    </insert>
    <insert id="addNutritionCompare" parameterType="com.lineying.entity.NutritionCompareEntity">
        insert into nutrition_compare(id,unit1,target_name,target_image_url,
        amount0,unit0,amount1,create_time)
        values(#{id},#{unit1},#{target_name},#{target_image_url},
        #{amount0},#{unit0},#{amount1},now())
    </insert>
    <insert id="addNutritionIngredient" parameterType="java.util.ArrayList">
        insert into nutrition_ingredient(id,calory,protein,fat,carbohydrate,
        fiber_dietary,vitamin_a,vitamin_c,vitamin_e,carotene,thiamine,
        lactoflavin,niacin,cholesterol,magnesium,calcium,iron,zinc,copper,
        manganese,kalium,phosphor,natrium,selenium,create_time)
        values(#{id},#{calory},#{protein},#{fat},#{carbohydrate},
        #{fiber_dietary},#{vitamin_a},#{vitamin_c},#{vitamin_e},#{carotene},#{thiamine},
        #{lactoflavin},#{niacin},#{cholesterol},#{magnesium},#{calcium},#{iron},#{zinc},#{copper},
        #{manganese},#{kalium},#{phosphor},#{natrium},#{selenium},now())

    </insert>
    <insert id="addNutritionHealthAppraiseInfo" parameterType="java.util.ArrayList">
        insert into nutrition_health_appraise(id,health_mode,show1,light,appraise,create_time)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id},#{item.health_mode},#{item.show},#{item.light},#{item.appraise},now())
        </foreach>
    </insert>
    <insert id="addNutritionUnits" parameterType="java.util.ArrayList">
        insert into nutrition_units(id,unit_id,amount,unit,unit_name,weight,
        eat_weight,calory,create_time)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id},#{item.unit_id},#{item.amount},#{item.unit},#{item.unit_name},#{item.weight},
            #{item.eat_weight},#{item.calory},now())
        </foreach>
    </insert>
    <insert id="addServiceProvide" parameterType="java.util.Map">
        insert into service_provide(id,remark)
        values(#{id},#{remark})
    </insert>
    <!-- 查询是否存在的数据 -->
    <select id="selectIsExist" parameterType="string" resultType="int">
        select count(1)
        FROM material_class
        where code = #{code}
    </select>

</mapper>