<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lineying.mapper.MenuPicMapper">
    <select id="selectPicNoload" resultType="com.lineying.entity.MenuInfoEntity">
        select *
        from menu_info
        where pic_isEmpty = 0
    </select>
    <update id="updateMenuPicStatus" parameterType="com.lineying.entity.MenuInfoEntity">
        update menu_info
        set pic_isEmpty = #{pic_isEmpty}
        where sid = #{sid}
    </update>
    <select id="selectPicDownloadIsFail" resultType="string">
        select id
        from menu_process mp
        where mp.pic_isEmpty = 0
    </select>
    <select id="selectMenuInfoByid" parameterType="string" resultType="com.lineying.entity.MenuInfoEntity">
        select mp.id as id,sid,name,classid, mp.pic as pic
        from menu_info mi
        LEFT JOIN menu_process mp on mi.sid = mp.mid
        where mp.id = #{mid}
    </select>
    <update id="updateMenuProcessById" parameterType="com.lineying.entity.MenuInfoEntity">
        update menu_process
        set pic_isEmpty = #{pic_isEmpty}
        where id = #{id}
    </update>
</mapper>