<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lineying.mapper.MenuManagerMapper">
    <select id="selectMenuPage" parameterType="com.lineying.entity.MenuInfoEntity" resultType="com.lineying.entity.MenuInfoEntity">
        select mi.id,mi.sid,mi.name,mi.peoplenum,mi.classid,
        mi.preparetime,mi.cookingtime,mi.content,concat(#{pic},pic) as pic,
        mi.tag,mi.create_time,mi.update_time
        from menu_info mi
        left join menu_material mm on mi.sid = mm.mid
        <where>
            <if test="classId != null and classId != ''">
                and mi.classid = #{classId}
            </if>
            <if test="name != null and name != ''">
                and (mi.name like concat('%',#{name},'%') or mm.mname like concat('%',#{name},'%'))
            </if>
        </where>
        group by mi.id
    </select>
    <!-- 修改菜谱信息根据sid -->
    <update id="updateMenuInfoBySId" parameterType="com.lineying.entity.MenuInfoEntity">
        update menu_info
        <set>
            <if test="name != null and name !=''">
                name = #{name},
            </if>
            <if test="peoplenum != null and peoplenum !=''">
                peoplenum = #{peoplenum},
            </if>
            <if test="classId != null and classId !=''">
                classid = #{classId},
            </if>
            <if test="preparetime != null and preparetime !=''">
                preparetime = #{preparetime},
            </if>
            <if test="cookingtime != null and cookingtime !=''">
                cookingtime = #{cookingtime},
            </if>
            <if test="content != null and content !=''">
                content = #{content},
            </if>
            <if test="pic != null and pic !=''">
                pic = #{pic},
            </if>
            <if test="tag != null and tag !=''">
                tag = #{tag},
            </if>
            update_time = now()
        </set>
        where sid = #{sid}
    </update>
    <!-- 删除菜谱根据id -->
    <delete id="deleteMenuBySId" parameterType="java.util.List">
        delete from menu_info
        where sid in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
    <!-- 删除菜谱类型根据id -->
    <delete id="deleteMenuClassBySId" parameterType="java.util.List">
        delete from menu_class
        where classid in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
</mapper>